body, main{color:white;
  font-family: futura-pt, sans-serif;
font-style: normal;
font-weight: 300;
}





main{height:200px;background: linear-gradient(#4eafff, #9198e5);}




.page-title {
  margin-top: 40px;
  margin-bottom: 30px;
}

.tab-pane {
  margin-top: 30px;
}

form {
  margin-top: 20px;
}

.error {
  color: red;
}

#total {
  font-weight: bold;
}

body{background-color: #131414;}
